<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Patient Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="login-container">

<div class="login-box">

<img src="{{ url_for('static', filename='login.png') }}" width="90">

<h2>Patient Login</h2>

<p>Login to track your ambulance and manage bookings.</p>

<form action="{{ url_for('patient_dashboard') }}">

<input
type="tel"
id="mobile"
placeholder="Enter Mobile Number"
required>

<div class="otp-box">

<input
type="text"
placeholder="Enter OTP"
required>

<button
type="button"
class="otp-btn">
Send OTP
</button>

</div>

<p style="font-size:14px;color:#777;margin:15px 0;">
OTP verification is for demo purposes only.
</p>

<button class="login-btn">

Login

</button>

</form>
<a href="{{ url_for('home') }}">
    <button class="back-btn">Back to Home</button>
</a>
</div>

</div>
<script>
window.onload = function () {

    const savedMobile = localStorage.getItem("patientMobile");

    if(savedMobile){
        document.getElementById("mobile").value = savedMobile;
    }

}
</script>

</body>
</html>